<div class="col-xs-12 col-sm-6">
  <% if controller_name == 'users' %>
    <h2 class="text-center"><%= link_to comment.place.name, place_path(comment.place) %></h2>
  <% end %>
  <blockquote>
    <% if comment.humanized_rating.present? %>
      <b><%= comment.humanized_rating %></b> -
    <% end %>
    <%= comment.message %>
    <small><%= comment.user.email %></small>
  </blockquote>
</div>
